<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% if title %}
            {{ title }} | {{ settingData.name }}
        {% else %}
            {{ settingData.name }}
        {% endif %}
    </title>
    {% load bootstrap5 %}
    {% bootstrap_css %}
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    {% if settingData.fabicon %}
        <link rel="icon" href="{{ settingData.fabicon.url }}">
    {% endif %}
</head>
<body>
    {% include 'layouts/header.html' %}
    {% block content %}
    {% endblock %}
    {% include 'layouts/footer.html' %}

    {% bootstrap_javascript %}

    <!-- <script src="bootstrap/js/bootstrap.bundle.js"></script> -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/js/all.min.js"></script>
    
</body>
</html>