{% extends 'layouts/master.html' %}

{% block content %}

<div class="container py-4">
    <div class="row">
        <div class="col-md-12 mb-4">
            <h1> About Us </h1>
        </div>
    </div>
    <div class="row">
        <div class="col md-12">
            {% if aboutus.image %}
            <img src="{{ aboutus.image.url }}" alt="{{ aboutus.title }}" class="img-fluid">
            {% endif %}
            <p>
                {{ aboutus.description | safe }}
            </p>
        </div>
    </div>
</div>

{% endblock %}