{% extends 'layouts/master.html' %}

{% block content %}

<div class="container py-4">
    <div class="row">
        <div class="col-md-12 mb-4">
            <h1> Service List </h1>
        </div>
    </div>
    <div class="row">
        {% for service in serviceData %}
        <div class="col-md-3">
            <div class="card">
                {% if service.image %}
                <img src="{{ service.image.url }}" style="height: 200px; width: 100%; "
                class="card-img-top" alt="{{ service.title }}">
                {% endif %}
                <div class="card-body">
                  <h5 class="card-title">
                    {{ service.title }}
                  </h5>
                  <p class="card-text">
                    {{ service.get_limit_summary }}
                  </p>
                  <a href="{% url 'service-details' service.slug %}" class="btn btn-primary">Readmore</a>
                </div>
              </div>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}